<div class="container">
  <section>
    <%= render partial: "common/title", locals: {title: "#{@word[:name_cont]} の検索結果"}%>
    <div class="row">
      <%= search_form_for(@q, url: search_path, html: { method: :get}) do |f| %>
        <div class="input-field inline col s8 offset-s2">
          <%= f.text_field :name_cont, autocomplete: "off"%>
          <%= f.label :name, "レシピ名で検索"%>
        </div>
          <%= button_tag(type: 'submit', class: 'btn-floating btn-large waves-effect waves-light red', form: 'post_search', name: nil) do%>
            <i class="material-icons">search</i>
          <% end %>
      <% end %>
    </div>
    <h3>検索結果</h3>
    <div class="row">
      <div class="collection">
        <% @posts.each do |p| %>
            <%= link_to p.name, show_post_path(p), class: 'collection-item'%>
        <% end %>
      </div>
    </div>
  </section>
</div>

