<div class="container">
  <section>
     <%= render partial: "common/title", locals: {title: "レシピ登録"}%>
  </section>
  <section>
    <div class="row">
      <%= form_for @post, :html => {:class => "col s12"} do |p|%>
          <%= render partial: "post_form", locals: { f: p } %>
        <h2>タグ</h2>  
        <%= render partial: "common/check_boxes", locals: { f: p, id_name: :tag_ids, object_name: @tags} %>
        <h2>食材</h2>  
        <%= render partial: "common/check_boxes", locals: { f: p, id_name: :foodstuff_ids, object_name: @foodstuffs} %>
        <%= p.fields_for :recipe_processes do |rp| %>
          <%= render partial: "process_form", locals: { f: rp } %>
        <% end %>
        <div class="link row">
          <%= link_to_add_association '<i class="material-icons">add</i>'.html_safe, p, :recipe_processes, partial: 'process_form', class: 'btn-floating btn-large waves-effect waves-light red'%>
        </div>
        <%= button_tag(type: 'submit', class: 'waves-effect waves-light btn-large', form: "new_post", name: nil) do%>
          投稿
        <% end %>
      <% end %>
    </div>
  </section>
</div>
<% #snackbar%>
<% if flash[:notice] %>
  <%= render partial: 'layouts/snackbar', locals: {flash_cat: 'mdl-color--blue-400', msg: flash[:notice]}%>
<% elsif flash[:error] %>
  <%= render partial: 'layouts/snackbar', locals: {flash_cat: 'mdl-color--red', msg: flash[:error]}%>
<% end %>